.table-grid{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 60px repeat(4, 30px 30px) 30px 55px;
    margin: 0 auto 40px auto;
    width: 95%;
    max-width: 1200px;
}


.table-item{
    align-content: center;  /**va per il  verticale di tutti**/
    text-align: center; /**va per l'orizzontale di tutti**/
    line-height: 32px;
}

.table-item:nth-child(8n+9){
    background-color: #e6e6e6;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}
.table-item:nth-child(8n+10){
    background-color: #e6e6e6;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}
.table-item:nth-child(8n+11){
    background-color: #e6e6e6;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}
.table-item:nth-child(8n+12){
    background-color: #e6e6e6;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}


.table-multiplier{
    font-size: 0.8em;
    background-color: #0abbb5 !important;
    margin: 4px auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 60%;
    color: white;
    align-content: center;
    line-height: 1.9; 
}


.first-row, .last-row{
    background-color: #e6e6e6;
    align-content: center;
    justify-content: center;
    padding-top: 7px;
    line-height: 1.2;
    font-weight: bold;
}

.first-row{
    border-top: 3px solid #0abbb5;
}
.last-row{
    border-bottom: 3px solid #0abbb5 !important;
}

.yellow_amount {
    border-radius: 5px;
    background-color: #ffff80;
    border: 3px solid #ffff80;
}

.autentica-table-title, .rendita-table-title {
    text-align: center;
    background: #0abbb53d;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
    border-top: 3px solid #0abbb5;
    border-left: 3px solid #0abbb5;
    border-right: 3px solid #0abbb5;
    padding: 9px 10px 0 10px;
}