@import './affiliation/_sliding-calculator.css'

$genuinyCol: #0ABBB5

body
	box-sizing: border-box
	font-family: Helvetica, Opens-sans, sans-serif
	font-size: 1.8rem
	margin: 0
	padding: 0	

html
	font-size: 62.5%


html:not([data-scroll='0']) 
	.navbar
		box-shadow: 0px 4px 6px 1px rgba(0,0,0,.3)

.navbar
	display: flex
	flex-wrap: wrap
	column-gap: 25px

	padding: 10px 30px
	width: 100%
	position: fixed
	top: 0px
	z-index: 5
	background-color: $genuinyCol
	color: white
	transition: 0.2s

	h1
		font-size: 4rem
		margin: 0
		@media (max-width: 480px)
			font-size: 8vw

	.navbar-brand img
		max-width: 40px
		padding: 0
	.navbar-brand h1
		color: white

/******nav tabs******/

.navbar
	min-width: 324px
	min-height: 74.25px

.navbar-nav
	display: flex
	column-gap: 10px


/******nav dropdown**/

.navbar-toggler
	border: none

.navbar-toggler-icon
	width: 2.5rem
	height: 2.5rem

.navbar-collapse
	text-align: center
	
	.nav-link
		color: white
		padding: 0
	.nav-item
		padding: 0
		margin: 5px

.wave-smartphone
	position: absolute
	top: 72.25px
	width: 100vw

	#wave-top
		position: absolute
		background: linear-gradient(180deg, rgba(10,187,181,1) 10%, rgba(20,207,201,0.2) 100%)
		color: white
		z-index: -1
	.smartphone-div
		background-color: gray
		position: relative
		left: 100px

		.smartphone
			width: 200px
			position: absolute
			top: 100px
			z-index: 4
		.screenshot
			width: 183px
			position: absolute
			top: 119px
			left: 9px
			z-index: 3
			border-radius: 0 0 15px 15px
		.filler
			background-color: white
			position: absolute
			top: 106px
			left: 9px
			z-index: 2
			width: 183px
			height: 22px
			border-radius: 20px 20px 0 0


#video-tedex
	width: 20vw
	height: 16/9*20vw

.container
	margin-top: 68px

.card-side
	max-width: 100%
	display: flex
	flex: 1 1 100%
	justify-content: space-between

.card
	width: 80%
	max-width: 850px
	margin-top: 40px
	border-style: none
	background-color: transparent
	&:first-of-type
		margin-top: 400px


.side-content
	max-width: 300px

.accordion-button
	color: #101010
	&:not(.collapsed)
		background-color: rgba(10,187,181,0.3)
		color: #101010

$layout-breakpoint-small: 480px