$genuinyCol: #0abab5

$layout-breakpoint-small: 480px

$nav-height: 9%


body, .navbar-brand
	box-sizing: border-box
	font-family: Helvetica, Opens-sans, sans-serif
	font-size: 1.8rem

body, .navbar-brand, p
	box-sizing: border-box
	margin: 0
	padding: 0

html
	font-size: 62.5%



.container-navbar
	position: fixed
	display: flex
	justify-content: center
	top: 0
	height: $nav-height
	width: 100%
	z-index: 5
	background-color: transparent
	min-height: 40px
	transition: 0.5s ease
	@media (min-width: 480px)
		min-height: 60px
	.navbar
		height: $nav-height
		min-height: 40px
		@media (min-width: 480px)
			min-height: 60px
		width: 100%
		max-width: 2000px
		padding: 0 5%
		position: fixed
		top: 0
		z-index: 6
		color: white
		box-sizing: border-box
		transition: padding 1s ease
		transition: 0.2s ease
		@media (min-width: 480px)
			padding-top: 10px
			padding-bottom: 10px



	.navbar-brand img
		width: 60vw
		max-width: 280px
		padding: 0

html:not([data-scroll='0'])
	.container-navbar-slide
		top: 0
		.navbar
			top: 0
	.container-navbar-white
		top: -300px
		.navbar
			top: -300px
	.nav


.container-navbar-slide
	@extend .container-navbar
	background-color: $genuinyCol
	top: -300px
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,.3)
	.navbar-slide
		position: fixed
		top: -300px
		background-color: $genuinyCol
		transition: 0.5s ease
		.navbar-collapse
			background-color: $genuinyCol
			border-radius: 0 0 20px 20px
			li.nav-item a
				color: white



.navbar-toggler
	margin-left: 20px
	border: none

.navbar-toggler-icon
	width: 2.5rem
	height: 2.5rem

.navbar-collapse
	width: 100%
	text-align: center
	padding: 20px 0 13px 0
	background-color: white

	/** showing**/
	.show
		width: 100%	

	.nav-link
		color: $genuinyCol
		padding: 0
		transition: 2s		

	.nav-item
		padding: 0
		margin: 5px


.container
	width: 100%
	padding: 9vh 7% 0 7%
	box-sizing: border-box
	max-width: 2000px

	.container-phone
			/**for tall and narrow screens: object width% container**/
		height: 90vh
		max-height: 900px
		@media (min-width: 480px)
			height: 91vh


/*******smartphone********/

/**.smartphone-bg
	background-color: #ccc**/

.smartphone
	/**mobile first**/
	position: relative
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	width: 55%
	@media (min-width: 480px)
		left: 4%
		width: 18%
		top: 9%
		transform: translate(0%, 0%)
		max-width: 256px


	.smartphone
		width: 100%
		position: absolute
		left: 0
		z-index: 4

/***grid system***/

.container-grid
	display: grid
	grid-template-columns: 1
	grid-row-gap: 30px
	@media (min 768px)
		grid-template-columns: 7fr 3fr
		grid-column-gap: 20px

.card
	font-size: 1.7rem
	border: none
	grid-column: 1
	h1
		padding: 3rem 0 1rem 0
.card:last-of-type
	padding-bottom: 9rem


.blockchain-videos
	display: flex

.side-content
	width: 40%
	height: 100%
	margin: 0 auto


/**************SUBSCRIBE***************/

.title
	padding: 8rem 0 2rem 0


ol:first-child
	margin-top: 140px

ol li
	padding: 50px 0