@import './affiliation/_sliding-calculator.css'

$genuinyCol: #0abab5

$layout-breakpoint-small: 480px

$nav-height: 9%


body, .navbar-brand
	box-sizing: border-box
	font-family: Helvetica, Opens-sans, sans-serif
	font-size: 1.8rem

body, .navbar-brand, p
	box-sizing: border-box
	margin: 0
	padding: 0

html
	font-size: 62.5%



.container-navbar
	position: fixed
	display: flex
	justify-content: center
	top: 0
	height: $nav-height
	width: 100%
	z-index: 5
	background-color: transparent
	min-height: 40px
	transition: 0.5s ease
	@media (min-width: 480px)
		min-height: 60px
	.navbar
		height: $nav-height
		min-height: 40px
		@media (min-width: 480px)
			min-height: 60px
		width: 100%
		max-width: 2000px
		padding: 0 5%
		position: fixed
		top: 0
		z-index: 6
		color: white
		box-sizing: border-box
		transition: padding 1s ease
		transition: 0.2s ease
		@media (min-width: 480px)
			padding-top: 10px
			padding-bottom: 10px



	.navbar-brand img
		width: 60vw
		max-width: 280px
		padding: 0

html:not([data-scroll='0'])
	.container-navbar-slide
		top: 0
		.navbar
			top: 0
	.container-navbar-white
		top: -300px
		.navbar
			top: -300px


.container-navbar-slide
	@extend .container-navbar
	background-color: $genuinyCol
	top: -300px
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,.3)
	.navbar-slide
		position: fixed
		top: -300px
		background-color: $genuinyCol
		transition: 0.5s ease
		li.nav-item a
			color: white



.navbar-toggler
	margin-left: 20px
	border: none

.navbar-toggler-icon
	width: 2.5rem
	height: 2.5rem

.navbar-collapse
	width: 100%
	text-align: center
	padding: 20px 0 13px 0

	/** showing**/
	.show
	width: 100%	

	.nav-link
		color: $genuinyCol
		padding: 0
		transition: 2s		

	.nav-item
		padding: 0
		margin: 5px


/*******smartphone********/

/**.smartphone-bg
	background-color: #ccc**/

.smartphone-div
	position: relative
	left: 50vw
	top: calc(50vh + 50px)
	transform: translate(-50%, -50%)
	height: 320px
	width: 80%
	max-width: 200px
	min-width: 90px
	display: flex
	align-items: center
	@media (min-width: 480px)
		left: 15vw		
		transform: translate(0%, -50%)


	.smartphone
		width: 100%
		position: absolute
		left: 0
		z-index: 4
	.screenshot
		width: 94%
		z-index: 3
		border-radius: 0 0 15px 15px
		position: absolute
		top: 0
		margin-left: auto
		margin-right: auto
		left: 0
		right: 0
	.filler
		background-color: white
		z-index: 2
		width: 92%
		height: 22px
		border-radius: 20px 20px 0 0
		position: absolute
		top: -1%
		margin-left: auto
		margin-right: auto
		left: 0
		right: 0


#video-tedex
	width: 20vw
	height: 16/9*20vw

.container
	width: 100%
	padding: 5%
	box-sizing: border-box
	max-width: 2000px

.card-side
	max-width: 100%
	display: flex
	flex: 1 1 100%
	justify-content: space-between

.card
	width: 80%
	margin-top: 40px
	border-style: none
	background-color: transparent
	&:first-of-type
		margin-top: 400px


.side-content
	max-width: 300px

.accordion-button
	color: #101010
	&:not(.collapsed)
		background-color: rgba(10,187,181,0.3)
		color: #101010









/**************SUBSCRIBE***************/

.title
	margin-top: 300px
	padding: 4rem


ol:first-child
	margin-top: 140px

ol li
	padding: 50px 0